@media (min-width: 1400px){}

@media (min-width: 1200px) and (max-width: 1399.98px){}

@media (min-width: 992px) and (max-width: 1199.98px){}

@media (min-width: 768px) and (max-width: 991.98px){}

@media (min-width: 576px) and (max-width: 767.98px){}

@media(max-width: 575.98px){
/* ===============================================
                menu part start
=============================================== */
#main_menu .navbar-brand img{
    width: 100px;
}

#main_menu .navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

#main_menu .navbar-toggler i{
    color: #fff;
}

#main_menu .navbar-nav{
    background: #353535;
}

#main_menu .navbar-nav .nav-item a{
    margin-left: 0;
    text-align: center;
    line-height: 30px;
}

#main_menu ul li a::after {
	bottom: 0px;
}


/* ===============================================
                menu part end
=============================================== */

/* ===============================================
                banner part start
=============================================== */
.banner_item {
	padding: 150px 0 133px;
}

.banner_text h2 {
	font-size: 25px;
}
.banner_text h1 {
	font-size: 45px;
}

.banner_text a {
	font-size: 14px;
	padding: 9px 23px;
}
/* ===============================================
                banner part end
=============================================== */

/* ===============================================
                about part start
=============================================== */

/* ===============================================
                about part end
=============================================== */

/* ===============================================
                menu part start
=============================================== */

/* ===============================================
                menu part end
=============================================== */

/* ===============================================
                menu part start
=============================================== */

/* ===============================================
                menu part end
=============================================== */

/* ===============================================
                menu part start
=============================================== */

/* ===============================================
                menu part end
=============================================== */
}